@model List<OnlineJwellery_Shopping.Models.Review>



@{
    ViewData["Title"] = "List Review";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            List of reviews
        </h1>
    </div>
</section>
<section class="section main-section">

    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                @*<span class="icon"><i class="mdi mdi-shopping"></i></span>*@
                Review
            </p>

            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            @if (Model.Count == 0)
            {
                <p style="text-align: center;">There are no reviews available.</p>


            }
            else
            {
                <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0" id="sampleTable">
                    <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>User Id</th>
                            <th>Customer name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var review in Model)
                        {
                            <tr>
                                <th width="10"><input type="checkbox" id="all"></th>
                                <td>@review.User.UserId</td>
                                <td>@review.User.Username</td>
                                <td>@review.User.Email</td>
                                <td>
                                    @if (review.Status == "pending")
                                    {
                                        <span class="badge bg-warning text-pending">@Html.DisplayFor(modelItem => review.Status)</span>
                                    }
                                    else if (review.Status == "approved")
                                    {
                                        <span class="badge bg-primary text-approved">@Html.DisplayFor(modelItem => review.Status)</span>
                                    }
                                    else if (review.Status == "rejected")
                                    {
                                        <span class="badge bg-info text-rejected">@Html.DisplayFor(modelItem => review.Status)</span>
                                    }
                                </td>
                                <td>
                                    <a asp-controller="Admin" asp-action="DetailsReview" asp-route-id="@review.Id" class="btn btn-primary" style="background-color:green; color:white;">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }



        </div>
    </div>

</section>
<style>
    .text-pending {
        color: orange; /* Màu chữ cho trạng thái "pending" */
    }

    .text-approved {
        color: green; /* Màu chữ cho trạng thái "confirmed" */
    }

    .text-rejected {
        color: red; /* Màu chữ cho trạng thái "shipping" */
    }
    .btn-primary {
        color: rgb(245 157 57);
        background-color: rgb(251 226 197);
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .page-link {
        padding: 5px 10px; /* Có thể điều chỉnh kích thước của nút */
        border: 1px solid #ccc; /* Thêm đường viền */
        border-radius: 3px; /* Bo tròn góc */
        margin-right: 5px; /* Khoảng cách giữa các nút */
        text-decoration: none; /* Loại bỏ gạch chân mặc định */
        color: #333; /* Màu chữ */
    }

        .page-link:hover {
            background-color: #f0f0f0; /* Màu nền khi hover */
        }
</style>