@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Dashboard</li>
        </ul>
        <a href="https://justboil.me/" onclick="alert('Coming soon'); return false" target="_blank" class="button blue">
            <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
            <span>Premium Demo</span>
        </a>
    </div>
</section>
<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Dashboard
        </h1>
        <button class="button light">Button</button>
    </div>
</section>
<section class="section main-section">
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            <a href="/Admin/Customer">
                                User
                            </a>
                        </h3>
                        <h1>
                            @ViewBag.TotalUsers
                        </h1>
                    </div>
                    <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            <a href="/Admin/Product">
                                TotalProduct
                            </a>
                        </h3>
                        <h1>
                            @ViewBag.TotalProducts
                        </h1>
                    </div>
                    <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            <a href="/Admin/Order">
                                TotalOrder
                            </a>
                        </h3>
                        <h1>
                            @ViewBag.TotalOrders
                        </h1>
                    </div>
                    <span class="icon widget-icon text-blue-500"><i class="mdi mdi-cart-outline mdi-48px"></i></span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            <a href="#">
                                OutOfStockProduct
                            </a>
                        </h3>
                        <h1>
                            @ViewBag.OutOfStockProductCount
                        </h1>
                    </div>
                    <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            <a href="/Admin/Order?Status=cancel">
                                CancelledOrders
                            </a>
                        </h3>
                        <h1>
                            @ViewBag.CancelledOrders
                        </h1>
                    </div>
                    <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
                </div>
            </div>
        </div>
    </div>



    <div class="notification blue">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
            <div>
                <span class="icon"><i class="mdi mdi-buffer"></i></span>
                <b>Responsive table</b>
            </div>
            <button type="button" class="button small textual --jb-notification-dismiss">Dismiss</button>
        </div>
    </div>



    <div class="notification ">
        <div class="card has-table">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    BestSellingProducts
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <table>
                    <thead>
                        <tr>

                            <th>ProductId</th>
                            <th>Thumbnail</th>
                            <th>ProductName</th>
                            <th>Price</th>
                            <th>qty</th>

                            <th width="40px">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in ViewBag.BestSellingProducts)
                        {
                            <tr>
                                <td data-label="Product ID">@product.Product.ProductId</td>
                                <td data-label="Thumbnail"><img src="@product.Product.Thumbnail" alt="Thumbnail" width="100" height="100"></td>
                                <td data-label="Product Name">@product.Product.ProductName</td>
                                <td data-label="Price">@product.Product.Price</td>
                                <td data-label="Total Quantity Sold">@product.TotalQuantitySold</td>
                                <td class="actions-cell">
                                    <div class="buttons right nowrap">
                                        <a asp-controller="Admin" asp-action="detailsProduct" asp-route-ProductId="@product.Product.ProductId" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="notification ">
        <div class="card has-table">
            <header class="card-header">
                <p class="card-header-title">
                    <a href="/Admin/Order?Status=pending">
                        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                        OrderPending
                    </a>
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <table>
                    <thead>
                        <tr>

                            <th>Order Id</th>
                            <th>Order Date</th>
                            <th>Total Amount</th>
                            <th>Full Name</th>
                            <th>Shipping Method</th>
                            <th>Payment Method</th>
                            <th>Is Paid</th>
                            <th>Status</th>
                            <th width="40px">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in ViewBag.PendingOrders)
                        {
                            <tr>

                                <td data-label="Name">@order.OrderId</td>
                                <td data-label="Company">@order.OrderDate</td>
                                <td data-label="City">@order.TotalAmount</td>
                                <td data-label="Progress" class="progress-cell">
                                    @order.FullName
                                </td>
                                <td data-label="Created">
                                    @order.ShippingMethod
                                </td>
                                <td data-label="Created">
                                    @order.PaymentMethod
                                </td>
                                <td data-label="Created">
                                    @order.IsPaid
                                </td>
                                <td data-label="Created">
                                    @order.Status
                                </td>
                                <td class="actions-cell">
                                    <div class="buttons right nowrap">
                                        <a asp-controller="Admin" asp-action="detailOrder" asp-route-id="@order.OrderId" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="table-pagination">
                    <div class="flex items-center justify-between">
                        <div class="buttons">
                            @for (int i = 1; i <= ViewBag.PendingTotalPages; i++)
                            {
                                <button type="button" class="button @(i == ViewBag.CurrentPage ? "active" : "")" onclick="location.href='@Url.Action("Dashboard", new { page = i,pageSize = ViewBag.PageSize })'">@i</button>
                            }
                        </div>
                        <small>Page @ViewBag.CurrentPage of @ViewBag.PendingTotalPages</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="notification ">
        <div class="card has-table">
            <header class="card-header">
                <p class="card-header-title">

                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    OutOfStockProducts

                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <table>
                    <thead>
                        <tr>

                            <th>ProductId</th>
                            <th>Thumbnail</th>
                            <th>ProductName</th>
                            <th>Price</th>
                            <th>qty</th>

                            <th width="40px">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in ViewBag.OutOfStockProducts)
                        {
                            <tr>
                                <td data-label="Product ID">@product.ProductId</td>
                                <td data-label="Thumbnail"><img src="@product.Thumbnail" alt="Thumbnail" width="100" height="100"></td>
                                <td data-label="Product Name">@product.ProductName</td>
                                <td data-label="Price">@product.Price</td>
                                <td data-label="Total Quantity Sold">@product.Qty</td>
                                <td class="actions-cell">
                                    <div class="buttons right nowrap">
                                        <a asp-controller="Admin" asp-action="detailsProduct" asp-route-ProductId="@product.ProductId" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="table-pagination">
                    <div class="flex items-center justify-between">
                        <div class="buttons">
                            @for (int i = 1; i <= ViewBag.OutOfStockTotalPages; i++)
                            {
                                <button type="button" class="button @(i == ViewBag.CurrentPage ? "active" : "")" onclick="location.href='@Url.Action("Dashboard", new { page = i,pageSize = ViewBag.PageSize })'">@i</button>
                            }
                        </div>
                        <small>Page @ViewBag.CurrentPage of @ViewBag.OutOfStockTotalPages</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="notification ">
        <div class="card has-table">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    PendingReviews
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <table>
                    <thead>
                        <tr>
                            <th>ReviewId</th>
                            <th>ProductName</th>
                            <th>UserName</th>

                            <th>Comment</th>
                            <th>RatingValue</th>
                            <th>ReviewDate</th>
                            <th>Status</th>

                            <th width="40px">Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.PendingReviews)
                        {
                            <tr>
                                <td data-label="Product ID">@item.Id</td>
                                <td data-label="Product ID">@item.Product.ProductName</td>

                                <td data-label="Product ID">@item.User.Username</td>
                                <td data-label="Thumbnail">@item.Comment</td>
                                <td data-label="Product Name">@item.RatingValue</td>
                                <td data-label="Price">@item.ReviewDate</td>
                                <td data-label="Total Quantity Sold">@item.Status</td>
                                <td class="actions-cell">
                                    <div class="buttons right nowrap">
                                        <a asp-controller="Admin" asp-action="DetailsReview" asp-route-id="@item.Id" class="button small green --jb-modal" data-target="sample-modal-2" type="button">
                                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="table-pagination">
                    <div class="flex items-center justify-between">
                        <div class="buttons">
                            @for (int i = 1; i <= ViewBag.PendingReviewTotalPages; i++)
                            {
                                <button type="button" class="button @(i == ViewBag.CurrentPage ? "active" : "")" onclick="location.href='@Url.Action("Dashboard", new { page = i,pageSize = ViewBag.PageSize })'">@i</button>
                            }
                        </div>
                        <small>Page @ViewBag.CurrentPage of @ViewBag.PendingReviewTotalPages</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
