@{
    ViewData["Title"] = "Thank You Page";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<style>
    .product-list-heading {
        text-align: left;
    }

    .shipping-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

  
</style>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    @*<div class="breadcrumb__text">
                        <h2>Thank You</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Thank You</span>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
    <!-- Thank You Section Begin -->
    <section class="thank-you spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="text-center">Thank you</h1>
                    <h3 class="text-center mb-3">Your order # @ViewBag.OrderId has been placed</h3>
                    <h3 class="product-list-heading">Product List:</h3>
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderProduct in ViewBag.OrderProducts)
                            {
                                <tr>
                                    <td>@orderProduct.Product.ProductId</td>
                                    <td><img src="@orderProduct.Product.Thumbnail" width="120" alt=""></td>
                                    <td>@orderProduct.Product.ProductName</td>
                                    <td>@orderProduct.Product.Price</td>
                                    <td>@orderProduct.Qty</td>
                                    <td>$@ViewBag.Subtotal</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="shoping__cart__btns d-flex justify-content-between">
                        <p class="mb-0">
                            <button style="padding:5px 10px; border: 1px solid black; background-color:white; width:200px;" type="button" class="primary-btn cart-btn" onclick="window.location.href='/Page/Category'">CONTINUE SHOPPING</button>
                        </p>
                    </div>

                    <!-- Hiển thị thông tin địa chỉ và phí ship nếu là Express -->

                    <div class="shipping-info">
                        <h3>Shipping Information:</h3>
                        <p>Shipping Address: @ViewBag.FullAddress</p>
                        <p>Shipping Fee: @ViewBag.ShippingMethod</p>
                        <p>Tax(10%)</p>
                        <p style="font-weight:800; font-size:25px;" class="total-amount">Total Amount: @ViewBag.TotalAmount</p>
                    </div>

                </div>
                </div>
        </div>
       
            
        
    </section>
    <!-- Thank You Section End -->