@{
    ViewData["Title"] = "detailsProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="section main-section">

    <div class="container">
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Gem information</h3>
                    <ul class="list">
                        <li><span>Stone Type</span>: @Model.StoneType</li>
                        <li><span>Total Weight</span>: @Model.TotalWeight</li>
                        <li><span>Color</span>: @Model.Color</li>
                        <li><span>Size</span>: @Model.Size</li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Brand Information</h3>
                    <ul class="list">
                        <li><span>Brand</span>: @Model.Brand.BrandName</li>
                        <li><span>Category</span>: @Model.Category.CategoryName</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>jewelry information</h3>
                    <ul class="list">
                        <li><span>Gold Age</span>: @Model.GoldAge.Age</li>
                        <li><span>Material</span>: @Model.Material</li>
                    </ul>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:100px;" scope="col">ID</th>
                                <th style="width:200px;" scope="col">Thumbnail</th>
                                <th style="width:200px;" scope="col">Thumbnail 1</th>
                                <th style="width:200px;" scope="col">Thumbnail 2</th>
                                <th style="width:200px;" scope="col">Thumbnail 3</th>
                                <th style="width:200px;" scope="col">Thumbnail 4</th>
                                <th style="width:300px;" scope="col">Name</th>
                                <th style="width:200px;" scope="col">Price</th>
                                <th style="width:200px;" scope="col">Quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.ProductId</td>
                                <td><img src="@Model.Thumbnail" alt="Thumbnail" width="100" height="100"></td>
                                <td><img src="@Model.SmallThumbnail1" alt="Thumbnail" width="100" height="100"></td>
                                <td><img src="@Model.SmallThumbnail2" alt="Thumbnail" width="100" height="100"></td>
                                <td><img src="@Model.SmallThumbnail3" alt="Thumbnail" width="100" height="100"></td>
                                <td><img src="@Model.SmallThumbnail4" alt="Thumbnail" width="100" height="100"></td>
                                <td>@Model.ProductName</td>
                                <td>@Model.Price</td>
                                <td>@Model.Qty</td>

                            </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
</style>