@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li style="margin-left:-50px;">Admin</li>
            <li>Product</li>
        </ul>

    </div>

</section>
<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
   
    </div>
    <div class="col-sm-2">

        <a class="btn btn-add " asp-controller="Admin" asp-action="addProduct" title="Thêm">
            <i class="fas fa-plus"></i>
            Add Product
        </a>
    </div>
</section>
<section class="section main-section">

    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                @*<span class="icon"><i class="mdi mdi-shopping"></i></span>*@
                Product
            </p>

            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0" id="sampleTable">
                <thead>
                    <tr>
                        <th width="10"><input type="checkbox" id="all"></th>
                        <th>ProductId</th>
                        <th>Thumbnail</th>
                        <th>ProductName</th>
                        <th>Price</th>
                        <th>qty</th>
                        <th>StoneType</th>
                        <th>TotalWeight</th>
                        <th>Color</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>GoldAge</th>
                        <th>Size</th>
                        <th>Material</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="@product.ProductId"></td>
                            <td>@product.ProductId</td>
                            <td><img src="@product.Thumbnail" alt="Thumbnail" width="50" height="50"></td>
                            <td>@product.ProductName</td>
                            <td>@product.Price</td>
                            <td>@product.Qty</td>

                            <td>@product.StoneType</td>
                            <td>@product.TotalWeight</td>
                            <td>@product.Color</td>
                            <td>@product.Category.CategoryName</td>
                            <td>@product.Brand.BrandName</td>
                            <td>@product.GoldAge.Age</td>
                            <td>@product.Size</td>
                            <td>@product.Material</td>
                            <td>
                                <a style="background-color:green; color:white;" class="btn btn-primary" asp-controller="Admin" asp-action="detailsProduct">
                                    <i class="fas fa-info-circle"></i> Details
                                </a>
                                <a class="btn btn-primary" asp-controller="Admin" asp-action="editProduct">
                                    <i class="fas fa-edit"></i> Edit
                                </a> |
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
    </div>

</section>
<style>
    .btn-primary {
        color: rgb(245 157 57);
        background-color: rgb(251 226 197);
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }
    .btn-add{
        color:white;
        background-color: black;
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 10px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .btn-danger {
        color: #FFF;
        background-color: #dc3545;
        border-color: #dc3545;
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px;
    }

        .btn-danger:hover {
            color: #FFF;
            background-color: #c82333;
            border-color: #bd2130;
        }

        .btn-danger:focus, .btn-danger.focus {
            -webkit-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
            box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
        }

        .btn-danger.disabled, .btn-danger:disabled {
            color: #FFF;
            background-color: #dc3545;
            border-color: #dc3545;
        }
</style>