@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "Details";
}
@{
    var isFavorite = false; // Biến này sẽ đại diện cho trạng thái yêu thích của sản phẩm
    var favoriteIcon = User.Identity.IsAuthenticated ? "fa-solid fa-heart" : "fa-regular fa-heart"; // Xác định biểu tượng yêu thích ban đầu dựa trên việc người dùng đã đăng nhập hay chưa
}
<style>
    .alert {
        text-align: center;
        margin: 20px auto;
        width: 100%; /* Điều chỉnh độ rộng của thông báo tùy theo nhu cầu */
    }

        .alert.error {
            background-color: red;
            color: white;
        }

        .alert.success {
            background-color: green;
            color: white;
        }

    .details-list {
        list-style-type: none;
        padding: 0;
    }

        .details-list li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .details-list span:first-child {
            flex: 1;
        }

        .details-list span:last-child {
            flex: 2;
            text-align: left;
            margin-right: 20px;
        }
</style>
<div class="hero-wrap hero-bread" style="background-image: url('/images/anhbg1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
                <h1 class="mb-0 bread">Product Single</h1>
            </div>
        </div>
    </div>
</div>
@if (TempData["Message"] != null)
{
    <div class="alert @TempData["MessageType"]" role="alert">
        @TempData["Message"]
    </div>
}



<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="~/images/menu-2.jpg" class="image-popup"><img src="@ViewBag.ProductThumbnail" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>@ViewBag.ProductName</h3>
                <div class="rating d-flex">
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2">5.0</a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                        <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                    <p class="text-left mr-4">
                        <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                    </p>
                    <p class="text-left">
                        <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                    </p>
                </div>
                <p class="price"><span>$@ViewBag.ProductPrice</span></p>
                <ul class="details-list">
                    <li>
                        <span>CertificationCode: </span>
                        <span>  @ViewBag.CertificationCode</span>
                    </li>

                    <li class="">
                        <span>Brand: </span>
                        <span> @ViewBag.BrandName</span>
                    </li>

                    <li class="">
                        <span>StoneType:  </span>
                        <span>  @ViewBag.StoneType</span>
                    </li>

                    <li class="">
                        <span>Material:   </span>
                        <span>  @ViewBag.Material </span>
                    </li>

                    <li class="">
                        <span>TotalWeight:   </span>
                        <span>   @ViewBag.TotalWeight</span>
                    </li>

                    <li class="">
                        <span>Color:  </span>
                        <span> @ViewBag.Color</span>

                    </li>

                    <li class="">
                        <span>GoldAge:    </span>
                        <span>  @ViewBag.GoldAge </span>
                    </li>

                </ul>
                <form method="post" class="favoriteForm" asp-action="AddToFavorite" asp-controller="Favorite">
                    <span style="margin-top: 15px; margin-left: 5px;">Favorite</span>

                    <input type="hidden" name="slug" value="@ViewBag.ProductSlug" />

                    <button type="submit" style="border:1px solid white;" class="heart-icon">
                        <i class="heartIcon fa fa-heart fa-xl" style="color: red; float: left; margin-right: 10px; margin-top: 15px"></i>
                    </button>
                </form>


                <script>document.querySelectorAll('.favoriteForm').forEach(form => {
                        var heartButton = form.querySelector('.heart-icon');
                        var heartIcon = heartButton.querySelector('.heartIcon');

                        // Kiểm tra xem trạng thái của trái tim đã được lưu trong sessionStorage chưa
                        var productId = form.querySelector('input[name="productId"]').value;
                        var savedHeartIcon = sessionStorage.getItem('heartIcon_' + productId);
                        if (savedHeartIcon === 'filled') {
                            heartIcon.classList.add('fas');
                        }

                        // Xử lý sự kiện khi người dùng nhấp vào nút trái tim
                        heartButton.addEventListener('click', function () {
                            if (!heartIcon.classList.contains('fas')) {
                                // Thêm lớp fas nếu người dùng chưa thêm vào mục yêu thích
                                heartIcon.classList.add('fas');
                                // Lưu trạng thái vào sessionStorage
                                sessionStorage.setItem('heartIcon_' + productId, 'filled');
                            } else {
                                // Xóa lớp fas nếu người dùng đã thêm vào mục yêu thích
                                heartIcon.classList.remove('fas');
                                // Xóa trạng thái khỏi sessionStorage
                                sessionStorage.removeItem('heartIcon_' + productId);
                            }
                            // Sau đó, gửi biểu mẫu
                            form.submit();
                        });
                    });</script>





                <div class="row mt-4">
                    <div class="w-100"></div>
                    @if (ViewBag.ProductAvailability > 0)
                    {
                        var remainingQuantity = ViewBag.ProductAvailability;
                        <form method="post" asp-controller="Cart" asp-action="AddToCart" asp-route-slug="@ViewBag.ProductSlug">
                            <div class="input-group col-md-6 d-flex mb-3">
                                <span class="input-group-btn mr-2">
                                    <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                        <i class="ion-ios-remove"></i>
                                    </button>
                                </span>
                                <input style="margin-top:-40px; margin-left:42px;width:230px;" type="number" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="@remainingQuantity">
                                <span class="input-group-btn ml-2">
                                    <button style="position: relative; top: -40px; margin-left: 234px; " type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                        <i class="ion-ios-add"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <p style="color: #000;">@remainingQuantity products available</p>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 px-5" value="ADD TO CART">
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Cart" asp-action="AddToCart" asp-route-slug="@ViewBag.Slug">
                            >
                            <div class="input-group col-md-6 d-flex mb-3" style="pointer-events: none;">
                                <span class="input-group-btn mr-2">
                                    <button style="margin-top:-40px; margin-left:42px;width:230px;" type="button" class="quantity-left-minus btn" data-type="minus" data-field="" disabled>
                                        <i class="ion-ios-remove"></i>
                                    </button>
                                </span>
                                <input type="number" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" disabled>
                                <span class="input-group-btn ml-2">
                                    <button style="position: relative; top: -40px; margin-left: 234px; " type="button" class="quantity-right-plus btn" data-type="plus" data-field="" disabled>
                                        <i class="ion-ios-add"></i>
                                    </button>
                                </span>
                            </div>


                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <p style="color: #000;">The product is out of stock</p>
                            </div>

                            <input type="submit" class="btn btn-primary py-3 px-5" value="ADD TO CART">
                        </form>
                    }
                </div>



            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">

        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Related Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>

        <div class="row">
            @foreach (var relatedProduct in ViewBag.RelatedProducts)
            {
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod">
                            <img class="img-fluid" src="@relatedProduct.Thumbnail" alt="@relatedProduct.ProductName">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 px-3">
                            <h3><a href="@Url.Action("Details", "Page", new { slug = relatedProduct.Slug })">@relatedProduct.ProductName</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">$@relatedProduct.Price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>
<script>$(document).ready(function () {

        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });

    });</script>
<style>
    .IYjGwk {
        border: none; /* Xóa viền của nút */
    }
</style>


